# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=reqrefiner_db
POSTGRES_PORT=5432

# Backend Configuration
PORT=3000
JWT_SECRET=reqrefiner_super_secret_jwt_key_2026_utn
JWT_EXPIRATION=7d

# AI Microservice Configuration
AI_PORT=8000
GOOGLE_API_KEY=tu_api_key_de_google_gemini_aqui
MODEL_NAME=gemini-1.5-flash

# Frontend Configuration (URL accesible por los navegadores/clientes para comunicarse con el backend)
# En un servidor remoto, colocar la IP o Dominio del servidor (ej: http://192.168.1.100:3000)
VITE_API_URL=http://localhost:3000
FRONTEND_PORT=80
