PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/reqrefiner_db?schema=public"
JWT_SECRET="reqrefiner_super_secret_jwt_key_2026_utn"
JWT_EXPIRATION="7d"
AI_SERVICE_URL="http://localhost:8000"
